PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

DATABASE_URL="postgresql://postgres.cwypsbkdgduookbjodkp:170905Quexty@aws-0-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

DIRECT_URL="postgresql://postgres:170905Quexty@db.cwypsbkdgduookbjodkp.supabase.co:5432/postgres"

SUPABASE_URL="https://cwypsbkdgduookbjodkp.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN3eXBzYmtkZ2R1b29rYmpvZGtwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2MDU3NjQsImV4cCI6MjA5MjE4MTc2NH0.5hEMvPCdiQ4878zaXmnw4Rl9yjBrHmfYX5s_bCzEfqg"
